@import "styles/Nav.css";
@import "styles/Hero.css";
@import "styles/Weather.css";

#root {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: fit-content;
}
body{
  padding: 0;
  margin: 0;
}
.page{
  position: relative;
  margin: 0;
  
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  background-color: hsl(243, 96%, 9%);
  box-sizing: border-box;
}
